.Input{
    width:91%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #f3f4f8;
    padding:1rem 2rem;
}

input::placeholder{
    font-size: larger;
    font-weight: bold;
    color:#878499;
}